<div class="container">
    <h2 class="section-title text-center">Obras</h2>
    <div class="row">
        <ng-container *ngFor="let construction of _constructionsMain">
            <div class="col-md">
                <div class="card shadow">
                    <img [src]="construction.img[0].url" [alt]="construction.nombre" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{ construction.nombre }}</h3>
                        <p class="card-text">{{ construction.descripcion }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary boton" routerLink="/lista-obras">Todas las obras</button>
        </div>
    </div>
</div>