<footer class="bg-dark footer-section">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-light">Email</h5>
                    <p class="text-white paragraph-lg font-secondary">servicios.obraelectrica&#64;gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Teléfono</h5>
                    <p class="text-white paragraph-lg font-secondary">+52 1 272 165 3815</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Dirección</h5>
                    <p class="text-white paragraph-lg font-secondary">125/A, CA Commercial Area, California, USA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top text-center border-dark py-5">
        <p>
            <span>&copy; {{ getCurrentDate() }} - </span>
            <span>Todos los derechos reservados</span>
        </p>
        <p>
            Desarrollado por <a href="#">SOEL</a>
        </p>
    </div>
</footer>