<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-title">Acerca de nosotros</h2>
        </div>
        <div class="col-lg-10 mx-auto text-center">
            <p class="font-secondary paragraph-lg text-dark">Somos una empresa mexicana que brinda
                servicios y obra eléctrica de alta calidad. Con amplia experiencia en el mercado, hemos
                colaborado en importantes proyectos como la instalación eléctrica de AWS DATA CENTER
                QRO y el control del molino de crudo HOROMILL. Nos destacamos por nuestro compromiso
                con la calidad y la innovación en cada proyecto, así como la capacitación constante
                de nuestro equipo y personal de trabajo.</p>
        </div>
    </div>
</div>